<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
	 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head('Signed')"></head>
<body class="background-main">
<header th:replace="~{fragments/navbar :: navbar}"></header>
<main>
	<section class="d-flex w-100 vh-100 align-items-center justify-content-center p-4">
		<div class="d-flex flex-column align-items-center ">
			<h2 class="font-roboto text-light"> Seja bem vindo <span th:text="${session.usersession.username}"></span>!</h2>
			<img class="img-fluid rounded-circle" src="http://localhost:8080/images/HomeSigned4.jpg" alt=""/>
		</div>
	</section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>