@charset "ISO-8859-1";

.background-main{
	background-color:#126c87;
	color: white;
	
}
.color-white{
	color: white;
}
.text-red{
	color: red;
}
.font-roboto{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.font-pacifico{
	font-family: 'Pacifico', cursive;
	font-weight: 800;
	font-size: 57px;
}
.font-text-pacifico{
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}