
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="navbar">
 	<div th:if="${session.usersession} == null">
  		<nav class="navbar navbar-dark bg-transparent">
		  <div class="container-fluid d-flex justify-content-between">
			 <a class="navbar-brand" href="/">MainBook</a>
			 <div class="d-flex gap-1">
				 <button class="btn border">
					 <a class="text-light" href="/login" style="text-decoration: none;">Log In</a>
				 </button>
				 <button class="btn border">
					 <a class="text-light" href="/register" style="text-decoration: none;">Sign Up</a>
				 </button>
				<button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			 </div>
		  </div>
		</nav>

		<div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
		  <div class="offcanvas-header bg-dark">
		    <a class="navbar-brand text-light" href="/">MainBook</a>
		    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		  </div>
		  <div class="offcanvas-body bg-dark opacity-50">
		    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="text-light nav-link active" aria-current="page" href="/">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="text-light nav-link active" aria-current="page" href="/about">About</a>
		        </li>
		        <li class="nav-item">
		          <a class="text-light nav-link active" aria-current="page" href="/team">Team</a>
		        </li>
		     </ul>
		  </div>
		</div>
	</div>
	<div th:if="${session.usersession} != null">
		<nav class="navbar navbar-dark">
		  <div class="container-fluid d-flex justify-content-between ">
			 <a class="navbar-brand text-light" href="/">MainBook</a>
			 <div class="d-flex gap-2 align-items-center">
				<div class="d-flex">
					<p class="text-light m-0" th:text="${session.usersession.username}"></p>
				</div>
				<button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenuSigned" aria-controls="offcanvasMenuSigned" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon "></span>
			    </button>
			 </div>
		  </div>
		</nav>

		<div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasMenuSigned" aria-labelledby="offcanvasRightLabel">
		  <div class="offcanvas-header bg-dark">
		    <a class="navbar-brand text-light" href="/">MainBook</a>
		    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		  </div>
		  <div class="offcanvas-body bg-dark opacity-50">
		    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="text-light nav-link active" aria-current="page" href="/signed">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="text-light nav-link active" aria-current="page" href="/signed/books">My Books</a>
		        </li>
		        <li class="nav-item">
		          <a class="text-light nav-link active" aria-current="page" href="/Logout">Logout</a>
		        </li>
		     </ul>
		  </div>
		</div>
	</div>
</header>
</html>